.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; // увеличенная тарелка не создаёт скролл
  background-image: url("/images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 47px;
  perspective: 1000px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 25px;
}

.title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 140px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-light);
  line-height: 70%;
  margin-bottom: 70px;
  max-width: 705px;
  margin-left: -5px;
  > span {
    font-family: var(--third-family);
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--text-light);
    text-transform: lowercase;
    text-align: right;
    display: block;
  }
}

@media screen and (max-width: 1231px) {
  .title {
    font-size: 100px;
  }
}

.description {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  max-width: 705px;
  margin-bottom: 33px;
}

@media screen and (max-width: 1200px) {
  .description {
    font-size: 18px;
    max-width: 505px;
  }
}

// Позиционируем руку и тарелку
.hand,
.frisbee {
  position: absolute;
  z-index: 5;
}

.hand {
  width: 340px;
  bottom: -50px;
  right: 15%;
  transform-origin: bottom center;
  z-index: 6;
}

@media screen and (max-width: 1095px) {
  .hand {
    width: 280px;
    bottom: -50px;
  }
}

.frisbee {
  width: 774px;
  bottom: 290px;
  right: 50px;
  z-index: 5;
  transform-origin: 45% 70%; // центр масштабирования
}

@media screen and (max-width: 1283px) {
  .frisbee {
    width: 674px;
  }
}

@media screen and (max-width: 1135px) {
  .frisbee {
    width: 574px;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 47px);
}

.abs_img {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@media screen and (max-width: 987px) {
  .frisbee {
    width: 400px;
    bottom: 80px;
  }

  .hand {
    width: 170px;
    bottom: -150px;
  }

  .title {
    font-size: 70px;
  }
}

@media screen and (max-width: 871px) {
  .contentWrapper {
    justify-content: flex-start;
    height: 932px;
    display: flex;
    gap: 50px;
  }

  .hand {
    right: 50%;
    transform: translateX(50%);
  }

  .frisbee {
    right: 50%;
    transform: translateX(50%);
  }

  .heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .title {
    font-size: 70px;
    margin-bottom: 25px;
  }

  .description {
    font-size: 16px;
  }

  .abs_img {
    position: absolute;
    bottom: 12px;
    right: auto;
    left: 10px;
  }
  .hand {
    right: 40%;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 70px;
  }

  .logos {
    gap: 12px;
  }

  .logos img {
    max-width: 140px;
  }

  .frisbee {
    width: 320px;
    bottom: -20px;
  }

  .hand {
    bottom: -200px;
    right: 45%;
    width: 150px;
  }
}

@media screen and (max-width: 376px) {
  .hand {
    bottom: -210px;
    width: 140px;
    right: 50%;
  }

  .frisbee {
    bottom: -30px;
    width: 300px;
  }
}

@media screen and (max-width: 1310px) {
  .title,
  .description {
    max-width: 600px;
  }
}

@media screen and (max-width: 1149px) {
  .title,
  .description {
    max-width: 500px;
  }
}

@media screen and (max-width: 987px) {
  .title,
  .description {
    max-width: 400px;
  }
}

.logos > :first-child img {
  width: 100%;
  max-width: 163px;
}





@media screen and (max-width: 900px) {
  .sec_cont {
  margin-top: 100px;
}
}

@media screen and (max-width: 600px) {
  .sec_cont {
  margin-top: 0px;
}
}


.frisbee {
  transform-box: fill-box;      // важно для SVG
  transform-origin: 50% 50%;    // масштаб из центра
  will-change: transform;
}